{% extends "base_admin.html" %}

{% block content %}


<style>
    h1 {
      text-align: center;
      position: relative;
      top: 10px
    }

  </style>

  <h1> THÊM LOẠI SẢN PHẨM </h1>

    {% if msg %}
        <div class="alert alert-danger">
          {{ msg }}
        </div>
    {% endif %}


    <form class="row g-3" method="post">
      <div class="col-md-6">
        <label for="nameCate" class="form-label"> Tên loại sản phẩm </label>
        <input name="nameCate" type="text" class="form-control" id="nameCate">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary"> Thêm </button>
      </div>
    </form>








{% endblock %}