{% extends "base_manage.html" %}

{% block content %}

<style>
    h1 {
      text-align: center;
      position: relative;
      top: 10px
    }

</style>

<h1> THAY ĐỔI QUY ĐỊNH </h1>

{% if msg %}
    <div class="alert alert-danger">
      {{ msg }}
    </div>
{% endif %}

<form class="row g-3" method="post">

  <div class="col-12">
    <label for="inputReg" class="form-label"> Nội dung thay đổi </label>
    <select name="idReg" id="inputReg" class="form-select">
      <option value=""> Chọn </option>';
            {% for row in getReg %}
                <option value="{{ row.id }}">{{ row.name }}</option>';
            {% endfor %}
    </select>
  </div>

  <div class="col-md-2">
    <label for="inputLogic" class="form-label"> Min/ Max </label>
    <select name="logicName" id="inputLogic" class="form-select">
      <option selected> Chọn </option>
      <option> Min </option>
      <option> Max </option>
    </select>
  </div>

  <div class="col-md-4">
    <label for="inputValue" class="form-label"> Nhập giá trị </label>
    <input name="value" type="text" class="form-control" id="inputValue">
  </div>

  <div class="col-md-6">
    <label for="inputUnit" class="form-label"> Đơn vị tính </label>
    <input name="unit" type="text" class="form-control" id="inputUnit">
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a id="btnClose" class="btn btn-secondary" href="{{ url_for('admin') }}"> Đóng </a>
    <button class="btn btn-primary" type="submit"> Lưu thay đổi </button>
  </div>
</form>








{% endblock %}